.header_container{
    height: 70px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px darkgray;
}

.header_text{
    color: white;
    font-size: 2rem;
    align-self: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: white;
    display: flex;
  }